<footer class="navbar-fixed-bottom navbar navbar-default">
	<div class="container-fluid">
		<img class="navbar-left logo img-responsive" src="{{ site.baseurl }}{{ site.logo }}" />
		<address class="navbar-left">
			1025 W. Rudisill Blvd. <br />
			Fort Wayne, IN 46807 <br />
			P: 260.446.3226
		</address>
		<img class="navbar-right logo img-responsive" src="{{ site.baseurl }}{{ site.images }}/thesummit.png" />
		<div class="navbar-right social-group">
			<a target="_blank" href="http://twitter.com/@thesummit_fw"><img class="social img-circle img-responsive" src="{{ site.baseurl }}{{ site.images }}twitter.png" /></a>
			<a target="_blank" href="https://www.facebook.com/pages/The-Summit/106991936070983"><img class="social img-circle img-responsive" src="{{ site.baseurl }}{{ site.images }}facebook.png" />
		</div>
	</div>
</footer>
