/* Animation Code*/
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
	@include transform2d(rotate(0deg));
  }

  100% {
    @include transform2d(rotate(359deg));
  }
}
@-webkit-keyframes spin {
  0% {
	@include transform2d(rotate(0deg));
  }

  100% {
    @include transform2d(rotate(359deg));
  }
}
@-ms-keyframes spin {
  0% {
	@include transform2d(rotate(0deg));
  }

  100% {
    @include transform2d(rotate(359deg));
  }
}
@keyframes spin {
  0% {
	@include transform2d(rotate(0deg));
  }

  100% {
    @include transform2d(rotate(359deg));
  }
}
.animate-fade{
	@include transition(opacity,.3s,ease-in-out,0);
}
.animate-fade-long{
	@include transition(opacity,2s,ease-in-out,0);
}
.animate-fade.demo-animate:hover,.animate-fade.faded{
	opacity: 0;
}
.animate-move,.animate-move *{
	@include transition(all,.8s,ease-in-out,0);
}