.has-success .form-control:focus,.form-control:focus{
	border-color: $brand-primary;
	@include box-shadow(unquote("inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px " + tint($brand-primary,60%)));
}
.gform_wrapper{
	@extend .col-md-8;
	@extend .col-md-offset-2;
	margin-bottom: 30px;
	>br{
		display: none;
	}
	h2{
		color: $brand-primary;
	}
	ul {
		@extend .list-unstyled;
	}
	ul.gfield_checkbox {
		padding-left: 30px;
	}
	li {
		@extend .form-group;
	}
	form {
		margin-bottom: 0;
	}
	label{
		@extend .help-block;
	}
	label:not([for]),.gfield_label{
		@extend .h4;
	}
	.checkbox{
		input[type=checkbox]{
			@extend input[type="checkbox"];
			width: auto;
			height: auto;
			margin-left: 0px;
		}
		label{
			padding-left: 10px;
			input[type=checkbox]{
				margin-right: 10px;
			}
		}
	}
	.radio{
		input[type=radio]{
			@extend input[type="radio"];
			width: auto;
			height: auto;
			margin-left: 25px;
		}
		label{
			padding-left: 10px;
			input[type=radio]{
				margin-right: 10px;
			}
		}
	}
	.upload{
		.ginput_container{
			@extend .col-md-4;
		}
		input[type=file]{
			@extend input[type="file"];
		}
	}
	.gfield{
		margin-bottom: 5px;
		margin-left: 0px;
		clear: both;
		@extend .row;
		@extend .col-xs-12;
	}
	.gfield_required {
		padding-left: 1px;
		color: $state-danger-text;
	}
	.gform_fields{
		@extend .clearfix;
		.gf_left_half,.gf_right_half{
			@extend .col-xs-6;
		}
		.gf_left_half{
			clear: both;
		}
		.gf_right_half{
			clear: none;
			@extend .pull-right;
		}
	}
	.gsection{
		clear: both;
	}
	.gform_heading{
		@extend .row;
	}
	.gform_title{
		@extend .col-xs-offset-1;
		@extend h2;
	}
	.gfield_error {
		.gfield_label {
			color: $state-danger-text;
		}
		input,select,textarea {
			border-color: $alert-danger-border;
			background-color: $alert-danger-bg;
			color: $alert-danger-text;
			@include form-control-focus($alert-danger-text);
		}
		
	}
	.ginput_complex{
		.name_prefix{
			@extend .col-sm-1;
		}
		.name_first{
			@extend .col-sm-2;
		}
		.name_last{
			@extend .col-sm-2;
		}
		.name_suffix{
			@extend .col-sm-1;
		}
		.ginput_full{
			display: block;
			@extend .col-xs-12;
		}
		.ginput_left{
			@extend .gf_left_half;
		}
		.ginput_right{
			@extend .gf_right_half;
		}
		:nth-child(1),.ginput_left,.ginput_full{
			padding-left: 0 !important;
		}
		.ginput_right,.ginput_full{
			padding-right: 0 !important;
		}
	}

	.gfield_description{
		@extend .help-block;
		clear: both;
		ul{
			list-style: initial;
			padding-left: 35px;
			max-height: 200px;
			-webkit-column-count:2;
			-moz-column-count: 2;
			-ms-column-count: 2;
            column-count: 2;
		}
		li{
			display: block;
			margin-bottom: 0px;
			padding-left: 0;
			margin-left: 15px;
		}
		li:before{
			content: "-";
		}
	}
	.gform_page_footer{
		padding-left: 25px;
		margin-bottom: 25px;
	}
	.gform_button,.button {
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-primary;
		@extend .pull-left;
	}
	.gform_submit,.gform_next_button{
		@extend .pull-right;
		.button{
			width: 100%;
		}
	}
	.validation_error {
		@extend .alert;
		@extend .alert-danger;
	}
	.validation_message{
		margin-top: 5px;
		color: $brand-danger;
	}
	.gform_validation_container{
		display: none !important;
		position: absolute !important;
		left: -9000px;
	}
	.gform_ajax_spinner:after{
		content: "";
		margin-left: 15px;
		@extend .animate-spin;
		@extend .icon-spin1;
	}
	.datepicker_with_icon{
		padding-left: 35px;
	}
	.ui-datepicker-trigger{
		position: absolute;
		top: 47px;
		left: 25px;
		cursor: pointer;
	}
	table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-selected{
		background-color: $state-success-bg;
	}
	table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-hover{
		background-color: $link-color;
		cursor: pointer;
	}
	.gsurvey-likert tr td{
		background-color: #fff;
	}
	table.gsurvey-likert td.gsurvey-likert-choice-label{
		background-color: $brand-primary;
		color: #fff;
		font-size: 10px;
		line-height: 1em;
	}
	.gsurvey-likert-row-label{
		font-size: 10px;
		line-height: 1em;
	}
	@media (min-width: $screen-sm-min ) {
		.gsurvey-likert-choice-label,.gsurvey-likert-row-label{
			font-size: 14px;
		}
	}
	@media (min-width: $screen-md-min ) {
		.gsurvey-likert-choice-label,.gsurvey-likert-row-label{
			font-size: 16px;
		}
	}
}
.ginput_container{
	input,select,textarea {
		@extend .form-control;
	}
	textarea {
		height: auto;
	}
}
#gforms_confirmation_message {
  @extend .alert;
}
.ui-datepicker{
	@extend .popover;
	@extend .top;
	padding: 5px;
	th{
		padding: 4px;
	}
	.ui-datepicker-prev{
		@extend .pull-left;
		cursor: pointer;
	}
	.ui-datepicker-next{
		@extend .pull-right;
		cursor: pointer;
	}
	.ui-datepicker-title{
		@extend .pull-left;
		padding: 0 10px;
	}
}
@media (min-width: $screen-md-min ) {
	.gform_wrapper{
		.gfield{
			margin-left: 15px;
		}
		table.gsurvey-likert td.gsurvey-likert-choice-label,.gsurvey-likert-row-label{
			font-size: 12px;
		}
	}
}