html{
	background: $brand-primary;
	min-height: 100%;
}
body{
	background: inherit;
	padding-bottom: 70px;
}
p{
	margin: 0 0 20px;	
}
h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	font-weight: bold;
}
h2{
	margin-bottom: .75em;
	color: $brand-warning;
}
blockquote {
  background: $gray-lighter;
  position: relative;
  border-left: 10px solid $brand-primary;
  padding: 2em 0;
  @extend .col-xs-12;
  @extend .col-md-10;
  @extend .col-md-offset-1;
}
blockquote:after {
	color: tint($brand-warning,30%);
	content: '\201D';
	font-size: 130px;
	line-height: 0;
	position: absolute;
	top: 35px;
	left: 90%;
	font-family: Cooper Std Black,Georgia, serif;
	float: right;
	@extend .col-md-2;
	@extend .hidden-sm;
	@extend .hidden-xs;
}
blockquote p{
  font-weight: 900;
  @extend .col-xs-12;
  @extend .col-md-10;
}
blockquote cite{
	font-style: italic;
	font-size: 1.3em;
	display: block;
	text-align: right;
	padding: 0 3em;
	color: $gray-light;
	clear: left;
	@extend .col-md-5;
	@extend .col-md-offset-5;
}
blockquote cite:before{
	content: "\2014";
}
mark{
	background: $brand-warning;
}
hr{
	border: 0;
	height: 1px;
	clear: both;
	background: tint($brand-primary,50%);
	margin: 25px 0;
	background-image: -webkit-linear-gradient(left, #000, #018651, #000);
	background-image: -moz-linear-gradient(left, #000, #018651, #000);
	background-image: -ms-linear-gradient(left, #000, #018651, #000);
	background-image: -o-linear-gradient(left, #000, #018651, #000);
	background-image: linear-gradient(left, #000, #018651, #000);
}
address{
	@extend h6;
	color: $link-color;
	line-height: 1em;
	margin: 5px 30px;
	text-align: left;
}
.post-list{
	list-style: none;
	margin: 0;	
	padding: 0;
	>li{
		padding: 20px 20px 60px 20px;
		overflow: auto;
		ul{
			text-align: left;
			list-style: none;
			li{
				font-size: $font-size-h6;
				[class^="icon-"]{
					margin: 0 auto;	
				}
			}
			em{
				color: $brand-warning;
				font-family: "Waiting for the Sunrise";
				font-style: italic;
				font-weight: 700;
				font-size: $font-size-h4;
				line-height: 1em;
			}
		}
	}
	.bg-blue{
		background-color: $link-color;
		[class^="icon-"]{
			color: $link-color;
		}
		a,a:link,a:visited{
			color: $brand-warning;	
		}
	}
	.memberships{
		@extend .col-md-4;
		@extend .col-md-offset-4;
		color: $state-info-text;
		text-align: center;
		tr:nth-child(1){
			border-bottom: 1px solid $state-success-border;
			@extend h4;
			color: $state-success-text;
			td:nth-child(1){
				border-right: 1px solid $state-success-border;	
			}
		}
		td:nth-child(1){
			background: $almost-white;	
		}
		td:nth-child(2){
			background: rgba(255,255,255,.75);
		}
	}
	.bg-green{
		background-color: $brand-primary;
		[class^="icon-"]{
			color: $brand-primary;	
		}
	}
	.align-left{
		text-align: left;
	}
	.align-right{
		text-align: right;
	}
}
.navbar{
	text-align: center;
	.logo{
		height: $navbar-height - 15;
		margin: 7px 0;
	}
	.social-group{
		margin: 0 20px 0 0;
		.social{
			height: ($navbar-height - 15) / 2;
			margin: 5px 0 0 0;
		}
	}
	.contact{
		margin: 8px 0;
		padding: 5px 15px;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: 700;
	}

}